
__pycache__/
*.py[cod]
*$py.class
*.so

.venv/
venv/
env/
ENV/


.vscode/
.idea/


logs/
*.log


.DS_Store
Thumbs.db


.pytest_cache/
.coverage
htmlcov/


.ipynb_checkpoints/


build/
dist/
*.egg-info/


catboost_info/
wandb/
mlruns/
tensorboard/
runs/


.dvc/cache/
.dvc/tmp/


!.dvc/
!*.dvc
!dvc.yaml
!dvc.lock

.env
best_model.pth